.main {
  font-family: Libre Baskerville;
}

.body {
  margin: 0;
}

.products-grid {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4px;
  row-gap: 12px;
  margin: 110px 360px 20px 360px;
}  

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.product-image {
  height: 220px; 
  width: 160px;
}

.product-name {
  display: flex; 
  flex: 1;
  align-items: center; 
  font-size: 16px; font-weight: 500; 
  padding: 4px 4px;
  max-width: 180px;
  color: black;
}

.product-price {
  display: flex; 
  flex: 1;
  justify-content: center; 
  font-size: 18px; 
  font-weight: 600; 
  font-family: Open Sans;
  padding-bottom: 8px;
}

.I-want-you-button {
  background-color: rgb(252, 216, 221);
  color: rgb(26, 146, 26);
  padding: 4px 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: grab;
  transition: 0.15;
}

.I-choose-you-button:hover {
  box-shadow: 2px -2px rgb(255, 123, 145);
  background-color: lightpink;
  color: rgb(154, 254, 201);
}
