.main-page-grid {
  display: flex;
  margin-left: 200px;
  margin-top: 100px;
}

.catalogue-main-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
  margin-right: 100px;
}

.catalogue-image {
  height: 100%;
  margin: 0;
  width: 100%;
}

.hamburger-menu {
  height: 40px;
  position: fixed;
  left: 60px;
  top: 160px;
  cursor: pointer;
}

.basket-black {
  height: 40px;
  position: fixed;
  left: 56px;
  top: 240px;
  cursor: pointer;
}

.fa-youtube-play {
  position: fixed;
  top: 320px;
  left: 60px;
}

.fa-facebook {
  position: fixed;
  top: 400px;
  left: 64px;
}

.fa-instagram {
  position: fixed;
  top: 480px;
  left: 60px;
}

.shop-button {
  background-color: darkgrey;
  color: whitesmoke;
  position: fixed;
  bottom: 40px;
  right: 340px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 54px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.15;
}

.shop-button:hover {
  background-color: lightgrey;
  color: black;
}
