.body {
  margin: 0;
}

.checkout-page-grid {
  margin: 90px 0 30px 0;
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 20px;
}

.selected-products-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.selected-product-container {
  border: solid 1px black;
  border-radius: 2px;
}

.selected-product-image-position {
  display: grid;
  justify-content: center;
}

.selected-product-image {
  height: 200px;
  padding-top: 10px;
}

.selected-product-name-position {
  display: grid;
  justify-content: center;
  margin: 0;
}

.selected-product-name {
  font-size: 18px;
  padding-top: 20px;
  margin: 0;
}

.selected-product-price-position {
  display: grid;
  justify-content: center;
}

.selected-product-price {
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 6px;
  margin: 0;
}

.selected-product-delete-button-position {
  display: grid;
  justify-content: center;
  padding-top: 4px;
}

.selected-product-delete-button {
  min-width: 100px; 
  background-color: rgb(255, 160, 0);
  color: white;
  font-size: 13px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  padding: 4px 8px;
  text-align: center;
  cursor: pointer;
}

.payment-section {
  margin: 0;
}

.delivery-section {
  margin: 0;
}

.delivery-option-section {
  display: grid;
  row-gap: 10px;
  justify-content: center;
  margin: 0;
}

.delivery-option {
  border: solid 1px black;
  font-size: 18px;
  padding: 4px 80px;
  border-radius: 2px;
}

.payment-container {
  border: solid 1.5px black;
  border-radius: 2px;
}

.place-your-order-button-position {
  display: grid;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.place-your-order-button {
  width: 200px; 
  background-color: rgb(255, 205, 0);
  color: black;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  padding: 12px 18px;
  text-align: center;
  cursor: pointer;
}