.contacts-main-grid {
  align-items: top;
  justify-content: center;
  padding: 0;
}

.contacts-title-position {
  display: flex; flex: 1;
  justify-content: center;
  align-items: top;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

.contacts-title {
  font-size: 24px;
}

.name-email-input {
  justify-content: left;
  align-items: center;
  padding-top: 20px;
  margin: 0;
}

.placeholder-name {
  width: 400px;
  height: 32px;
  font-size: 18px;
  padding-left: 12px;
  padding-top: 4px;
  border: 1px solid black;
}

.placeholder-message-position {
  display: grid;
  flex: 1fr;
  padding-top: 50px;
}

.placeholder-your-message {
  width: auto;
  height: 120px;
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
}

.contacts-send-button-position {
  display: grid; 
  align-items: center; 
  justify-content: center;
  padding-top: 20px;
}

.contacts-send-button {
  width: 400px;
  font-size: 18px;
  padding: 4px 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.15;
}

.contacts-send-button:hover {
  color: white;
  background-color: black;
}