.header {
  height: 80px;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 36px;
  font-weight: 500;
  display: grid;
  grid-template-columns: 3fr 4fr;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  border-bottom: 1px solid black;
}

.hamburger-menu {
  height: 40px;
  position: fixed;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.header-logo-section {
  cursor: pointer;
}

.crochet-logo-image {
  width: 64px;
  position: fixed;
  top: 10px;
  left: 500px;
}

.morusyaki {
  font-family: Merriweather, Libre Baskerville;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  position: fixed;
  top: 16px;
  left: 570px;
}

.workshop {
  font-family: Open Sans, Lato;
  font-size: 14px;
  font-weight: 500;
  position: fixed;
  top: 46px;
  left: 570px;
}

.home-icon {
  height: 32px;
  position: fixed;
  right: 140px;
  top: 22px;
  cursor: pointer;
}

.workshop-icon {
  height: 40px;
  position: fixed;
  right: 80px;
  top: 20px;
  cursor: pointer;
}

.basket-black {
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.down-bar {
  height: 40px;
  margin: 20px 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  text-decoration: underline;
}

.down-bar div {
  cursor: pointer;
}