.product-page-grid {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  margin-top: 80px;
  row-gap: 0;
}

.product-detail-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 3fr 2fr;
  column-gap: 40px;
  padding-left: 100px;
  border: 2px dashed red;
}

.product-image-section {
  padding-left: 20px;
  padding-right: 20px;
}

.product-image-large {
  height: 300px;
}

.product-carouselle {
  display: flex;
  flex: 1;
  height: 50px;
  margin-top: 10px;
  margin-left: -100px;
}

.product-carouselle img {
  width: 50px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.product-description-grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 10px;
  margin-top: 20px;
  border: 2px dashed green;
  overflow: hidden;
}

.product-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.product-description {
  font-size: 18px;
  padding: 0 20px;
  line-height: 1.5;
}

.dimensions-section {
  min-width: 0;
}

.dimensions-icon {
  width: 100px;
}

.dimensions-text {
  margin: 0;
  font-size: 18px;
  padding: 20px 0 0 30px;
}

.add-to-cart-section {
  min-width: 0;
}
