.down-bar {
  height: 40px;
  margin: 20px 500px 0 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-decoration: underline;
}

.down-bar div {
  cursor: pointer;
}
